<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.bvcode.ncopter" android:versionName="Copter-GCS" android:versionCode="9">
    
    <uses-sdk android:minSdkVersion="8" />

    <application android:label="@string/app_name" android:icon="@drawable/main_icon" android:debuggable="true">
       
        <activity android:name="MainActivity"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait">
                  
		<intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
		</activity>            

		<!-- Setup activities -->
		<activity android:name="com.bvcode.ncopter.ModeSelectionActivity" android:theme="@android:style/Theme.NoTitleBar" android:screenOrientation="portrait"/>
		<activity android:name="com.bvcode.ncopter.setup.SetupActivity" android:theme="@android:style/Theme.NoTitleBar" android:screenOrientation="portrait"/>
		<activity android:name="com.bvcode.ncopter.setup.SetupPIDSActivity" android:theme="@android:style/Theme.NoTitleBar" android:screenOrientation="portrait"/>
		<activity android:name="com.bvcode.ncopter.setup.SetupTransmitterActivity" android:theme="@android:style/Theme.NoTitleBar" android:screenOrientation="portrait"/>
		<activity android:name="com.bvcode.ncopter.setup.SetupOffsetsActivity" android:theme="@android:style/Theme.NoTitleBar" android:screenOrientation="portrait"/>
		<activity android:name="com.bvcode.ncopter.setup.SetupHardwareActivity" android:theme="@android:style/Theme.NoTitleBar" android:screenOrientation="portrait"/>
		<activity android:name="ReadOutsActivity" android:theme="@android:style/Theme.NoTitleBar" android:screenOrientation="landscape"/>
		<activity android:name="StatusActivity" android:theme="@android:style/Theme.NoTitleBar" android:screenOrientation="portrait"/>
		<activity android:name="ParameterViewActivity" android:theme="@android:style/Theme.NoTitleBar" android:screenOrientation="portrait"/>
		<activity android:name="HUDActivity"  android:theme="@android:style/Theme.NoTitleBar" android:screenOrientation="landscape"/>
		<activity android:name="com.bvcode.ncopter.gps.GPSActivity" android:theme="@android:style/Theme.NoTitleBar" android:screenOrientation="landscape"/>
		<activity android:name="com.bvcode.ncopter.mission.MissionActivity" android:theme="@android:style/Theme.NoTitleBar" android:screenOrientation="landscape"/>
		<activity android:name="com.bvcode.ncopter.mission.MissionListActivity" android:theme="@android:style/Theme.NoTitleBar" android:screenOrientation="portrait"/>
	
		<activity android:name="com.bvcode.ncopter.RemoteControl" android:theme="@android:style/Theme.NoTitleBar" android:screenOrientation="landscape"/>

		<activity android:name="com.bvcode.ncopter.comms.DeviceListActivity" android:screenOrientation="portrait"/>
		<!-- <activity android:name="USBDeviceListActivity" android:screenOrientation="portrait"/> -->
		
		<service android:name="com.bvcode.ncopter.comms.CommunicationService"/>
				
		<uses-library android:name="com.google.android.maps" />
	
    </application>
    
    
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    
</manifest>